Source: libnginx-mod-http-coraza
Section: httpd
Priority: optional
Maintainer: Pierre Pomes <pierre.pomes@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-nginx,
               libcoraza-dev
Standards-Version: 4.7.0
Homepage: https://github.com/corazawaf/coraza-nginx
Rules-Requires-Root: no

Package: libnginx-mod-http-coraza
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libcoraza1
Description: Coraza WAF connector module for nginx
 Coraza is an open-source Web Application Firewall (WAF) engine.
 This module integrates the Coraza WAF with the nginx web server,
 providing request inspection and blocking capabilities using
 OWASP Core Rule Set (CRS) v4 compatible rules.
